{% extends 'base.html.twig' %}

{% block title %}Listado de usuarios
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="text-center my-3">Listado de usuarios</h1>
			</div>

			<div class="col-12">
				<table class="table table-info">
					<thead>
						<tr>
							<th>Id</th>
							<th>Email</th>
							<th class="d-none d-lg-table-cell">Roles</th>
							<th class="d-none d-lg-table-cell">Password</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<tr>
								<td>{{ user.id }}</td>
								<td>{{ user.email }}</td>
								<td class="d-none d-lg-table-cell">{{ user.roles ? user.roles|json_encode : '' }}</td>
								<td class="d-none d-lg-table-cell">{{ user.password }}</td>
								<td>
									<a href="{{ path('app_user_show', {'id': user.id}) }}">
										<i class="fa-solid fa-eye"></i>
									</a>
									<a href="{{ path('app_user_edit', {'id': user.id}) }}">
										<i class="fa-solid fa-pen-to-square"></i>
									</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">No hay usuarios disponibles</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<a href="{{ path('app_user_new') }}" class="btn btn-primary">Nuevo usuario</a>
			</div>

		</div>


	</div>
{% endblock %}
